---
// src/pages/index.astro
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import ProjectCard from '../components/ProjectCard.astro';
import Skills from '../components/Skills.astro';
import About from '../components/About.astro';
import CV from '../components/CV.astro';
---

<Layout title="Romain | Game Dev Portfolio">
	
    <Hero />

    <section id="projects" class="py-20">
        <div class="grid grid-cols-1 md:grid-cols-2 gap-8">
            
            <ProjectCard 
                title="Neon Racer"
                subtitle="Time trial futurist racing game"
                videoUrl="/videos/neonrider.mp4" 
                tags={['Unity', 'C#', 'Game Controller']}
            />
            
            <ProjectCard 
                title="Terra Carta"
                subtitle="Relaxing Puzzle Game from Creative Week"
                videoUrl="/videos/terracarta.mp4"
                tags={['Unity', 'C#', 'Creative Week', 'Programming', 'Sound Design']}
            />

            <ProjectCard 
                title="Space Orbiter"
                subtitle="Space survival game made in one week for Frene Jam 2"
                videoUrl="/videos/spaceorbiter.mp4"
                tags={['Unity', 'C#', 'Internal Jam', 'Programming']}
            />

            <ProjectCard 
                title="Frene Jam 1"
                subtitle="Tower Defense under constraints in one week"
                videoUrl="/videos/frenejam1.mp4"
                tags={['Unity', 'C#', 'Internal Jam', 'Programming']}
            />
    </section>

    <Skills />

    <About />

    <CV />
</Layout>